@model Transaction

@{
    ViewData["Title"] = "Nueva transacción";
    string[] denominaciones = { "1", "5", "10", "25", "50", "100", "200", "500", "1000", "2000" };
}

<h2>Nueva transacción</h2>

<hr />
<div class="row">
    <div>
        <form asp-action="Create" id="transactionForm" class="flex">

            <div class="col-md-4">
                <div class="form-group">

                    <br />

                    <label asp-for="TransactionTypeId" class="control-label">Tipo</label>
                    <div>
                        <input checked type="radio" value="0" class="btn-check" name="TransactionTypeId" id="btnradio1" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio1">Entrada</label>
                        <input type="radio" value="1" class="btn-check" name="TransactionTypeId" id="btnradio2" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio2">Salida</label>
                    </div>
                    <span asp-validation-for="TransactionTypeId" class="text-danger"></span>


                    <br />
                    <label asp-for="Amount" class="control-label">Monto</label>
                    <input asp-for="Amount" class="form-control" required id="amountInput" type="number" />
                    <span asp-validation-for="Amount" class="text-danger"></span>

                    <br />
                    <label asp-for="Comment" class="control-label">Comentario</label>
                    @Html.TextAreaFor(x => x.Comment, new {@class = "form-control", required = "required"})
                    <span asp-validation-for="Comment" class="text-danger"></span>

                    <div class="my-3">
                        <input type="checkbox" id="cashCheckbox" class="btn-check" autocomplete="off" />
                        <label for="cashCheckbox" class="btn btn-primary">¿Transacción en efectivo?</label>

                    </div>
                </div>
                <div class="form-group my-2.5">
                    <input type="submit" value="Crear" class="btn btn-primary" id="submitButton" />
                    <partial name="GoToIndex" />
                </div>
            </div>

            <div class="col-md-4 ml-8">
                <!-- Tabla de detalles de efectivo -->
                <div id="cashField" style="display:none;" class="border-dashed  border-2 p-3 ">
                    <h4>Detalles de efectivo</h4>
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th>Moneda</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in denominaciones)
                            {
                                <tr>
                                    <td>RD$ @item</td>
                                    <td><input type="number" class=" cash-amount" data-denomination="@item" value="0" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <label>Total efectivo: RD$ <span id="totalCash">0</span></label>

                    <input type="hidden" asp-for="CashDetails" id="CashDetails" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            let totalCash = 0;


            // Función para mostrar u ocultar el div basado en el checkbox
            function toggleCashField() {
                var isChecked = document.getElementById("cashCheckbox").checked;
                var cashField = document.getElementById("cashField");
                if (isChecked) {
                    cashField.style.display = "block";
                } else {
                    cashField.style.display = "none";
                }
                toggleSubmitButton();
            }

            // Función para calcular la suma total del efectivo ingresado
            function calculateTotalCash() {
                var total = 0;
                $('.cash-amount').each(function () {
                    var denomination = $(this).data('denomination');
                    var amount = $(this).val();
                    total += denomination * amount;
                });
                totalCash = total;
                $('#totalCash').text(total); // Actualiza el label con el total
                toggleSubmitButton();
            }

            // Función para convertir los valores de la tabla en JSON
            function generateCashDetailsJson() {
                var cashDetails = {};
                $('.cash-amount').each(function () {
                    var denomination = $(this).data('denomination');
                    var amount = $(this).val();
                    cashDetails[denomination] = amount;
                });
                var isChecked = document.getElementById("cashCheckbox").checked;

                if (isChecked){
                    $('#CashDetails').val(JSON.stringify(cashDetails));
                }
            }

            function toggleSubmitButton() {
                var isChecked = document.getElementById("cashCheckbox").checked;
                var submitButton = document.getElementById("submitButton");
                var totalToPay = document.getElementById("amountInput").value;

                console.log(isChecked)
                console.log(totalCash)
                console.log(parseFloat(totalToPay))


                if (isChecked && totalCash !== parseFloat(totalToPay)) {
                    submitButton.disabled = true; // Deshabilita si no coincide el total de efectivo
                } else {
                    submitButton.disabled = false; // Habilita en caso contrario
                }
            }

            // Asocia el evento change al checkbox
            document.getElementById("cashCheckbox").addEventListener("change", toggleCashField);

             document.getElementById("amountInput").addEventListener("change", toggleSubmitButton);
            // Calcula el total cada vez que se cambie un valor en los inputs
            $('.cash-amount').on('input', calculateTotalCash);

            // Generar el JSON cuando se envíe el formulario
            document.getElementById("transactionForm").addEventListener("submit", function (event) {
                generateCashDetailsJson();
            });
        });
    </script>
}
