@model Transaction

@{
    ViewData["Title"] = "Nueva transacción";
}

<h2>Nueva transacción</h2>

<h4>Cajero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                    <label asp-for="PatientId" class="control-label">Paciente</label>
                    <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
                    <span asp-validation-for="PatientId" class="text-danger"></span>

                <label asp-for="MedicalServiceId" class="control-label">Servicio médico</label>
                <select asp-for="MedicalServiceId" class="form-control" asp-items="ViewBag.MedicalServices"></select>
                <span asp-validation-for="MedicalServiceId" class="text-danger"></span>
                <br />
                <label asp-for="TransactionTypeId" class="control-label">Tipo</label>
                <input checked type="radio" value="0" asp-for="TransactionTypeId" name="TransactionTypeId" /> Entrada
                <input type="radio" value="1" asp-for="TransactionTypeId" name="TransactionTypeId" /> Salida
                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
                
                <br />
                <label asp-for="Amount" class="control-label">Monto</label>
                <input type="number" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>

                <label asp-for="Comment" class="control-label">Comentario</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Index">Volver a la lista</a>
</p>

@section Scripts {
    <script>
        function toggleBranchField() {
            var isAdmin = document.getElementById("adminCheckbox").checked;
            var branchField = document.getElementById("branchField");
            if (isAdmin) {
                branchField.style.display = "none";
            } else {
                branchField.style.display = "block";
            }
        }

        document.getElementById("adminCheckbox").addEventListener("change", toggleBranchField);
        document.addEventListener("DOMContentLoaded", toggleBranchField);
    </script>
}