@model Transaction

@{
    ViewData["Title"] = "Cancelar transacción";
}

<h2>Cancelar transacción</h2>

<h3>¿Desea cancelar la transacción?</h3>
<div>

    <form asp-action="Delete">
        <div class="my-2.5">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn">Cancelar</a>
        </div>
    </form>
</div>