
        <a class="btn btn-primary" asp-area="" asp-controller="Cashiers" asp-action="Index">Cajeros</a>
        <a class="btn btn-info" asp-area="" asp-controller="Branches" asp-action="Index">Sucursales</a>
        <a class="btn btn-success" asp-area="" asp-controller="Transactions" asp-action="Index">Histórico Transacciones</a>
        <a class="btn btn-warning" asp-area="" asp-controller="CashRegisters" asp-action="Index">Histórico Días</a>
        <a class="btn btn-dark" asp-area="" asp-controller="Patients" asp-action="Index">Pacientes</a>

