@model Cashier
<h2 class="text-center mb-4">Iniciar sesión</h2>

<form asp-action="Login" method="post" class="w-50 mx-auto shadow p-4 rounded" style="background-color: #f9f9f9;">
    <div class="form-group mb-3">
        <label for="username" class="form-label">Usuario</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="bi bi-person-fill"></i>
                </span>
            </div>
            <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese su usuario" required />
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
            </div>
            <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su contraseña" required />
            <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                <i class="bi bi-eye-slash" id="icon-password"></i>
            </button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
</form>

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger text-center mt-3">
        No se validaron los datos
    </div>
}

<script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');
    const iconPassword = document.getElementById('icon-password');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Toggle the icon
        iconPassword.classList.toggle('bi-eye');
        iconPassword.classList.toggle('bi-eye-slash');
    });
</script>
