@model Branch

@{
    ViewData["Title"] = "Detalles Sucursal";
}

<h2>Detalles Sucursal</h2>

<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <partial name="GoToIndex" />
</p>
