@model IEnumerable<Branch>

@{
    ViewData["Title"] = "Sucursales";
}

<h2>Sucursales</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear una nueva Sucursal</a>
</p>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <partial name="DetailsButton" model=item />
                    <partial name="EditButton" model=item />
                    <partial name="DeleteButton" model=item />
                </td>
            </tr>
        }
    </tbody>
</table>
